<section class="orders-show">

  <header class="page-header">
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    
    <h3>Order #<%= @order.id %></h3>
    <table class=" order-table">
        <tr>
          <th class="ordered-on" colspan = 2>Ordered on <%= @order.updated_at.strftime("%B %d, %Y")%> </th>
        </tr>
      <tbody>
        <% order_total = 0 %>
        <% @order.line_items.each do |line_item| %>
          <% order_total += line_item.product.price * line_item.quantity.to_i%>
          <%= render 'item', product: line_item.product, quantity: line_item.quantity.to_i %>
        <% end %>
      </tbody>
        <tr>
          <th colspan="3">
            ORDER TOTAL:
          </th>
          <th>
            <%= humanized_money_with_symbol order_total %>
          </th>
        </tr>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
